@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

a, h1, h2, h3, h4, h5, h6, div, span {
	font-family: 'Jeju Gothic', serif;
}

input[type=password]{
	font-family: 'default', serif;
}

.headerTop {
	margin-top: 10px;
}

.headerTop a {
	color: black;
	text-decoration: none;
	font-size: 20px;
	padding: 20px;
}

.headerBottom {
	margin-top: 10px;
	margin-bottom:10px;
	padding: 5px;
	background-color: #28a745;
}

.headerBottom .dropdown-content {
	display: none;
	position: absolute;
	background-color: #28a745;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.headerBottom .dropdown-content a {
	color: white;
}

.headerBottom .dropdown-content a:hover {
	background-color: #3e8e41;
}

.headerBottom .dropdown:hover .dropdown-content {
	display: block;
}

.headerBottom .dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

.goodsList a {
	color: black;
	text-decoration: none;
}

.goodsList .goodsListImgSection, .goodsList .goodsListExplainSection {
	text-align: center;
}

.goodsDetail .goodsDetailCategory {
	margin: 15px 0px;
}

.goodsList .goodsListImgSection img {
	max-width: 100%;
	max-height: 250px;
	height: auto;
}

.goodsDetail .goodsDetailTop .thumbNailSection {
	text-align: center;
}

.goodsDetail .goodsDetailTop .thumbNailSection img {
	max-width: 90%;
	height: auto;
}

.goodsDetail .goodsDetailTop .expainSetion {
	text-align: left;
	font-size: 17px;
}

.goodsDetail .goodsDetailTop .expainSetion .columeName {
	color: gray;
}

.goodsDetail .goodsDetailTop .expainSetion .columeValue {
	color: black;
}

.goodsDetail .goodsDetailTop .totalPrice {
	text-align: right;
}

.goodsDetail .goodsDetailTop .userBtnSection {
	margin-top : 5px;
	text-align: right;
}

.goodsDetail .goodsDetailTop .userBtnSection a{
	width: 150px
}

.goodsDetail .goodsDetailBottom{
	margin-top: 20px;
	
}

.goodsDetail .goodsDetailBottom li, .goodsDetail .goodsDetailBottom ul{
	padding: 0px;
}

.goodsDetailInfo .left1{
	background-color: lightgray;
	text-align: center;
	font-size: 17px;
	padding: 5px 0px;
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
	
}

.goodsDetailInfo .right1{
	text-align: left;
	font-size: 17px;
	padding: 5px 0px;
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
}

.goodsDetailInfo .left2{
	background-color: lightgray;
	text-align: center;
	font-size: 17px;
	padding: 5px 0px;
	border-bottom: solid 1px gray;
	
}

.goodsDetailInfo .right2{
	text-align: left;
	font-size: 17px;
	padding: 5px 0px;
	border-bottom: solid 1px gray;
}

.login_section, .register_section, .registerForm_section{
	margin: 100px;
}

.login_section li, .login_section{
	margin: 0px;
	padding: 0px;
}

.login_section .userLogin{
	padding-bottom: 15px;
}

.register_section .registerForm, .register_section .social_registerForm{
	padding: 20px;	
}

.register .register_top{
	padding : 15px 30px;
	font-size: 30px;
	background-color: #28a745;
	color: white;
}

.register .register_bottom{
	padding: 30px 30px 10px 30px;
	font-size: 20px;
}

.myPageFrame{
	margin: 30px;
}

.myPageFrame .myPageMenuSection a{
	color : black;
	font-size: 18px;
	margin-left: 15px;
	padding: 5px;
}

.myPageFrame .myPageContentSection{
	padding: 25px;
}

.csFrame .csMenuSection a{
	color : black;
	font-size: 25px;
	margin-left: 10px;
	padding: 10px;
}

.csFrame .csMenuSection{
	color : black;
	font-size: 25px;
	margin-left: 10px;
	padding: 10px;
}

.csFrame .csContentSection{
	padding: 25px;	
}

.orderSection{
	margin: 25px;
}

.orderSection .titleSection{
	font-size: 25px;
}

.buyerInfoSection, .goodsInfoSection, .priceInfoSection{
	
}	

.buyerInfoSection .titleSection, .goodsInfoSection .titleSection, .priceInfoSection .titleSection, .payBtnSection {
	margin: 20px 5px;
	font-size: 20px;
}

.buyerInfoSection .ContentSection .TH{
	background-color: #f0f6e8;
	text-align: center;
	padding: 13px;
	margin: auto;
}

.buyerInfoSection .ContentSection .TD{
	text-align: left;
	margin: auto;
	padding: 5px 10px;
}

.goodsInfoSection .ContentSection .top{
	background-color: #f0f6e8;
	height: 30px;
}

.priceInfoSection .ContentSection .TH{
	background-color: #f0f6e8;
	text-align: center;
	padding: 13px;
	margin: auto;
}

.priceInfoSection .ContentSection .TD{
	text-align: left;
	margin: auto;
	padding: 5px 10px;
}

.payCardSection{
	margin: 15px;
}

.payCardSection .titleSection, .refundFormSection .titleSection{
	font-size: 30px;
	text-align: center;
	margin: 5px;
}

.payCardSection .payInfoSection .TH, .refundFormSection .refundInfoSection .TH{
	background-color: #f0f6e8;
	padding: 15px; 0px;
}

.payCardSection .payInfoSection .TD, .refundFormSection .refundInfoSection .TD{
	margin: auto;
}

.userOrderListSetcion .OrderListTitle, .newOrderListSetcion .OrderListTitle,
.userOrderCancelListSetcion .OrderCancelListTitle, .adminRefundListSetcion .refundListTitle{
	font-size: 20px;
	margin-bottom: 10px; 
}


.footer{
	margin-top: 20px;	
}
